{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "files": ["*.ts", "*.tsx"],
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/prop-types": "off",
    "import/extensions": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "no-nested-ternary": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto"
      }
    ],
    "no-param-reassign": "off"
  },
  "ignorePatterns": ["vite.config.ts"]
}
