@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter.woff2") format("woff2-variations");
  font-weight: 1 999;
  font-style: oblique 0deg 20deg;
  font-display: swap;
}

:root {
  box-sizing: border-box;
  scrollbar-color: var(--neutral-darker) var(--neutral-full);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Inter", sans-serif !important;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

body {
  margin: 0;
}

.light {
  --neutral-darker: #e9eef9;
  --neutral-full: #ffffff;
  --popover-border: #ccdcff;
}

.dark {
  --neutral-darker: #222222;
  --neutral-full: #414141;
  --popover-border: #313131;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--neutral-darker);
  border-radius: 50px;
  box-shadow: inset 0 0 4px var(--subtle-shadow);
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-full);
  border: 1px solid var(--popover-border);
  border-radius: 50px;
}
