@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter.woff2") format("woff2-variations");
  font-weight: 1 999;
  font-style: oblique 0deg 20deg;
  font-display: swap;
}

:root {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Inter", sans-serif !important;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

body {
  margin: 0;
}
